<h1>{{title}}</h1>
<ul>
    <li id="product-id">{{id}}</li>
    <li>Precio: {{price}}</li>
    <li>Código: {{code}}</li>
    <li>Categoría: {{category}}</li>
    <li>Descripción: {{description}}</li>
    <li>Stock: {{stock}}</li>
</ul>

<button id="btn-add-to-cart">Añadir al carrito</button>
<p>Al apretar este botón, se agregará el producto al carrito de prueba con id:</p>
<h3 id="cart-id">6510a5067c41cba7c8e3a6a7</h3>

<script src="/assets/scripts/addToCart.js"></script>