<h1>Productos disponibles (en tiempo real):</h1>
<ol id="products">
    {{#each products}}
        <li>
            <ul>
                <li>ID: {{this.id}}</li>
                <li>Nombre: {{this.title}}</li>
                <li>Precio: {{this.price}}</li>
                <li>Código: {{this.code}}</li>
                <li>Categoría: {{this.category}}</li>
                <li>Descripción: {{this.description}}</li>
                <li>Stock: {{this.stock}}</li>
            </ul>
            <br>
        </li>
    {{/each}}
</ol>

<script src="socket.io/socket.io.js"></script>
<script src="assets/scripts/realTimeProducts.js"></script>