<h1>Lista de productos del carrito {{cid}}:</h1>
<ol>
    {{#each products}}
        <li>
            <ul>
                <li>ID: {{this._id}}</li>
                <li>Nombre: {{this.title}}</li>
                <li>Precio: {{this.price}}</li>
                <li>Código: {{this.code}}</li>
                <li>Categoría: {{this.category}}</li>
                <li>Descripción: {{this.description}}</li>
                <li>Cantidad: {{this.quantity}}</li>
                <li>Subtotal: {{this.subtotal}}</li>
            </ul>
            <br>
        </li>
    {{/each}}
</ol>