<h1>Bienvenido, {{first_name}} {{last_name}}</h1>
<h2>Productos (pág {{page}}/{{totalPages}}):</h2>
<ol id="products">
    <ul class="menu"><a id="cart-id" href="/carts/6510a5067c41cba7c8e3a6a7">Ver carrito</a></ul>
    {{#each products}}
        <li>
            <ul class="menu">
                <li>
                    <a href="/products/{{this.id}}">{{this.title}}</a>
                </li>
                <li>
                    <button class="btn-add-to-cart" data-product-id="{{this.id}}">Añadir al carrito</button>   
                </li>
            </ul>
            <br>
        </li>
    {{/each}}
</ol>
<br>

<ul class="menu">
    <li>
        <a href="/products?page=1">Pág.1</a>
    </li>

    <li>
        {{#if hasPrevPage}}
            <a href="{{prevPage}}">Prev.Pág.</a>
        {{else}}
            <span>Prev.Pág.</span>
        {{/if}}
    </li>

    <li>
        {{#if hasNextPage}}
            <a href="{{nextPage}}">Next.Pág.</a>
        {{else}}
            <span>Next.Pág.</span>
        {{/if}}
    </li>

    <li>
        <a href="{{lastPageLink}}">Ult.Pág</a>
    </li>
</ul>


<br>

<hr>
<br>
{{>menu}}

<script src="/assets/scripts/products.js"></script>