<h1>{{title}}</h1>
<ul> 
    <li id="product-id">{{id}}</li>
    <li>Precio: ${{price}}</li>
    <li>Código: {{code}}</li>
    <li>Categoría: {{category}}</li>
    <li>Descripción: {{description}}</li>
    <li>Stock: {{stock}}</li>
</ul>

<button id="btn-add-to-cart" data-product-id="{{id}}" data-cart-id="6510a5067c41cba7c8e3a6a7">Añadir al carrito</button>

<br>
<br>
<ul class="menu">
    <a id="cart-id" href="/carts/6510a5067c41cba7c8e3a6a7">Ver carrito</a>
    <a href="/products">Ver productos</a>
</ul>

<hr>
<br>
{{>menu}}

<script src="/assets/scripts/addToCart.js"></script>