<h1>Perfil de {{first_name}} {{last_name}}</h1>
<ul>
    <li>email: {{email}}</li>
    <li>age: {{age}}</li>
</ul>

<ul class="menu">
    <a id="cart-id" href="/carts/{{cart}}">Ver carrito</a>
    <a href="/products">Ver productos</a>
</ul>

<hr>
<br>
{{>menu}}